{
  "presets": [
    "next/babel",
    "flow"
  ],
  "plugins": [
    [
      "transform-define", "./env-config.js"
    ],
    [
      "inline-import", {
        "extensions": [".css"]
      }
    ]
  ]
}
